<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 設定３：TypeAlias-->
    <typeAliases>
        <typeAlias type="com.jewelry.domain.model.Tantosha" alias="Tantosha"/>
        <typeAlias type="com.jewelry.domain.model.Shozoku" alias="Shozoku"/>
        <typeAlias type="com.jewelry.domain.model.Uriba" alias="Uriba"/>
        <typeAlias type="com.jewelry.domain.model.Customer" alias="Customer"/>
        <typeAlias type="com.jewelry.domain.model.CustomerSearch" alias="CustomerSearch"/>
        <typeAlias type="com.jewelry.domain.model.Sales" alias="Sales"/>
    </typeAliases>

</configuration>