<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!-- 設定３：TypeAlias-->
    <typeAliases>
        <typeAlias type="com.jewelry.domain.model.Tantosha" alias="Tantosha"/>
        <typeAlias type="com.jewelry.domain.model.Shozoku" alias="Shozoku"/>
        <typeAlias type="com.jewelry.domain.model.Customers" alias="Customers"/>
        <typeAlias type="com.jewelry.domain.model.CustomerPhone" alias="CustomerPhone"/>
        <typeAlias type="com.jewelry.domain.model.CustomerMail" alias="CustomerMail"/>
    </typeAliases>

</configuration>