<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jewelry.domain.repository.mapper.CustomerPhoneMapper">
	<insert id="insertBulk" parameterType="java.util.List">
INSERT INTO customer_phone(
	customer_id,
	phone_number,
	memo
) VALUES
	<foreach collection="list" item="ph" separator=",">
(
	#{ph.customerId},
	#{ph.phoneNumber},
	#{ph.memo}
)
	</foreach>
	</insert>

	<insert id="upsertBulk">
		INESRT INTO customer_phone(
			customer_id,
			phone_number,
			memo
		) VALUES
		<foreach collection="list" item="ph" separator=",">
			(
				#{ph.customerId},
				#{ph.phoneNumber},
				#{ph.memo}
			)
		</foreach>
		ON DUPLICATE KEY UPDATE
			phone_number = VALUES(phoneNumber),
			memo = VALUES(memo)
	</insert>

	<delete id="deleteBulk">
		DELETE FROM customer_phone
		WHERE id IN
			<foreach collection="ist" item="id" open="(" separator="," close=")">
				#{id}
			</foreach>
	</delete>
</mapper>