<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jewelry.domain.repository.mapper.TantoshaMapper">
<sql id="findTantosha">
SELECT
    ta.id,
    ta.name,
    ta.role,
    sho.id as shozoku_id,
    sho.name as shozoku_name
FROM
    ${tantoshaTable} ta
    LEFT OUTER JOIN
        shozoku sho
    ON  ta.shozoku_id = sho.id
</sql>
	<select id="findAll" resultMap="tantoshaResultMap">
		<bind name="tantoshaTable" value="'tantosha'"/>
		<include refid="findTantosha"/>
	</select>

	<select id="findPage" resultMap="tantoshaResultMap">
	<bind name="tantoshaTable" value="
	'(
	SELECT
		*
	FROM
		tantosha
	ORDER BY
		id
	LIMIT #{pageable.pageSize}
	OFFSET #{pageable.offset}
	)'"/>
	<include refid="findTantosha"/>
	ORDER BY
    	ta.id
	</select>

	<resultMap type="Tantosha" id="tantoshaResultMap">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="role" column="role" />
		<association property="shozoku" column="shozoku_id" javaType="Shozoku">
			<result property="id" column="shozoku_id"/>
			<result property="name" column="shozoku_name"/>
		</association>
 	</resultMap>

	<select id="selectOne" parameterType="integer" resultMap="tantoshaResultMap">
		<bind name="tantoshaTable" value="'tantosha'"/>
		<include refid="findTantosha"/>
		WHERE ta.id = #{id}
	</select>
	<insert id="insertOne" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO tantosha (name, shozoku_id, role) VALUES (#{name}, #{shozoku.id}, #{role})
	</insert>
	<update id="updateOne" parameterType="Tantosha">
		UPDATE tantosha SET name = #{name}, shozoku_id = #{shozoku.id}, role = #{role} WHERE id = #{id}
	</update>
	<update id="deleteOne" parameterType="integer">
		DELETE FROM tantosha WHERE id = #{id}
	</update>
</mapper>