@charset "UTF-8";

html, body {
	height: 100%;
	overflow-y: hidden;
	font-size: 14px;
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
		"Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo",
		sans-serif;
}

p, h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}

input:focus {
	outline: none;
}

.table td {
	vertical-align:middle;
}

.login-wrapper {
	max-width: 400px;
	display: block;
	margin: auto;
}

.login-container {
	display: flex;
	align-items: center;
	height: 100%;
}

.main {
	height: calc(100% - 50px);
}

.uriage {
	padding: 10px;
}

.content-title {
	padding-bottom: 10px;
}

.table {
	margin-top: 10px;
	table-layout: fixed;
}

.table input[type="text"] {
	padding: 0.25rem;
}

#addRow {
	margin-left: auto;
	margin-right: 5px;
}