@charset "UTF-8";

html, body {
	height: 100%;
	overflow-y: hidden;
	font-size: 14px;
	font-family: "Helvetica Neue", "Helvetica", "Hiragino Sans",
		"Hiragino Kaku Gothic ProN", "Arial", "Yu Gothic", "Meiryo",
		sans-serif;
}

p, h1, h2, h3, h4, h5 {
	padding: 0;
	margin: 0;
}

/* メインコンテンツ */
.main {
	height: calc(100% - 50px);
}

/* サイドバー */
.main .sidebar {
	width: 15%;
	background-color: #2A3F54;
	color: #FFFFFF;
}

.signupBtn {
	margin-bottom: 10px;
}

.alert {
	margin-top: 1rem;
}

input:focus {
	outline: none;
}

.table td {
	vertical-align: middle;
}

.login-wrapper {
	max-width: 400px;
	display: block;
	margin: auto;
}

.login-container {
	display: flex;
	align-items: center;
	height: 100%;
}

/* メインコンテンツ */
.main .content {
	width: 85%;
	padding: 20px;
	overflow-y: auto;
}

.main .content .content-title {
	padding-bottom: 20px;
	margin-bottom: 10px;
	color: #73879C;
}

.table {
	table-layout: fixed;
}

.table input[type="text"] {
	padding: 0.25rem;
}

#addRow {
	margin-left: auto;
	margin-right: 5px;
}